artifacts/channel/crypto-config/
artifacts/channel/genesis.block
artifacts/channel/mychannel.tx
artifacts/channel/Org1MSPanchors.tx
artifacts/channel/Org2MSPanchors.tx
artifacts/channel/Org3MSPanchors.tx